@font-face {
    font-family: lakeshore;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff")
}

@font-face {
    font-family: airstream;
    src: url("fonts/Airstream-webfont.svg");
    src: url("fonts/Airstream-webfont.woff")
}

:root {
    --thumbnails-img-width: 20vw;
    --thumbnails-img-height: 25vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.33)
}

body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: azure;
    margin: 0;
}

.logo {
    font-size: 2em;
    background-color: beige;
    display: block;
    text-align: center;
    font-family: lakeshore;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 3;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    margin-right: 5vw;
}
.hidden .details-container {
    display: none;
}

.details-frame {
    position: relative;
    border: solid 1px black;
    border-radius: 5%;
    overflow: hidden;
}
.hide-button {
    position: absolute;
    top: 3vh;
    right: 3vw;

}

.details-image {
    width: 40vw;
    height: 50vw;
    border-radius: 5%;
}

.details-title {
    display: block;
    font-family: airstream;
    font-style: italic;
    background-color: beige;
    position: absolute;
    font-size: 3em;
    left: 0;
    bottom: 2vh;
}

.thumbnails-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    padding-left: 0;
}

.hidden .thumbnails-list {
    max-height: 80vh;
    margin-bottom: 10vh;
    flex-direction: column;
    padding-left: 10vh;
}

.thumbnails-item {
    max-width: var(--thumbnails-img-width);
    min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
    margin-top: 2.5vh;
    border: solid 1px black;
    border-radius: 15%;
    overflow: hidden;
    cursor: pointer;
}

.thumbnails-image {
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
    display: block;
}

.thumbnails-title {
    padding-top: 1vh;
    display: block;
    text-align: center;
    height: var(--thumbnails-title-height);
    background-color: beige;
}

.thumbnails-anchor {
    text-decoration: none;
}

.thumbnails-item:hover {
    transform: scale(1.1);
    margin-left: 1vw;
}

@media(min-width: 560px) {
    :root {
        --thumbnails-img-width: 12vw;
        --thumbnails-img-height: 18vw;
        --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.25)
    }
    .main-class {
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
        justify-content: space-around;
    }
    .logo {
        font-size: 1.8em;
    }
    .details-title{
        font-size: 2em;
    }
    
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 75vh;
        order: -1;
        justify-content: flex-start;
        padding-right: 7vh;
    }
    
    .hidden .thumbnails-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .hidden .thumbnails-item  {
        margin-right: 2vw;
        min-width: var(--thumbnails-img-width);
    }
    
    .details-image {
        width: 45vw;
        height: 60vw;
    }

    .details-container {
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }


    @media (min-width: 900px) {
        
        .details-title{
            font-size: 3em;
        }
        .thumbnails-list {
            padding-right: 2vw;
            margin-top: 2.5vh;
            max-height: 86vh;
        }

        .thumbnails-title {
            font-size: 1.5em;
        }

        .details-container {
            margin-top: 5vh;
            margin-right: 20vw;
        }

        .details-image {
            width: 32vw;
            height: 40vw;
        }
    }
}